<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793757735586-jvjbnas2ak9eidudtv1atgo5b5sg1ihb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793757735586-jvjbnas2ak9eidudtv1atgo5b5sg1ihb</string>
	<key>API_KEY</key>
	<string>AIzaSyDP_LLvyUjWg1ePVc_w8TxfhoxTVb7RS1w</string>
	<key>GCM_SENDER_ID</key>
	<string>793757735586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manhpham.myapp.debug</string>
	<key>PROJECT_ID</key>
	<string>mp-default-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mp-default-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793757735586:ios:7ab8d072d3ce4b4a7915fb</string>
	<key>DATABASE_URL</key>
	<string>https://mp-default-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>