github "Alamofire/Alamofire"
github "ReactiveX/RxSwift"
github "RxSwiftCommunity/NSObject-Rx"
github "RxSwiftCommunity/RxSwiftExt"
github "ashleymills/Reachability.swift" ~> 5.1
github "pkluz/PKHUD"
github "DaveWoodCom/XCGLogger"
github "AliSoftware/Reusable"
github "hmlongco/Resolver"
github "CoderMJLee/MJRefresh"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"