version: 2.1
orbs:
  slack: circleci/slack@4.12.1
aliases:
  - &restore_gem_cache
    name: Restore gem cache
    keys:
      - &gem-cache gem-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      - gem-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}
      - gem-cache-{{ .Environment.CACHE_VERSION }}
  - &save_gem_cache
    name: Save gem cache
    key: *gem-cache
    paths:
      - vendor/bundle
  - &gem_install
    name: Install Bundler and Gem
    command: scripts/ci/ci-setup-ruby.sh
  - &restore_pod_cache
    name: Restore CocoaPods cache
    keys:
      - &pod-cache pod-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}-{{ checksum "Podfile.lock" }}
      - pod-cache-{{ .Environment.CACHE_VERSION }}-{{ arch }}-{{ .Branch }}
      - pod-cache-{{ .Environment.CACHE_VERSION }}
  - &save_pod_cache
    name: Save CocoaPods cache
    key: *pod-cache
    paths:
      - ./Pods
  - &generate_resource
    name: Generate Resource
    command: |
      scripts/common/install.sh
      scripts/common/generate.sh

jobs:
  build-and-test:
    macos:
      xcode: 15.0.1
    steps:
      - checkout
      - restore_cache: *restore_gem_cache
      - restore_cache: *restore_pod_cache
      - run: *gem_install
      - run: *generate_resource
      - save_cache: *save_pod_cache
      - save_cache: *save_gem_cache
      - run:
          name: Run Unit test
          command: scripts/project/run-unit-test.sh
      - run:
          name: Generate code coverage
          command: scripts/slather/slather-run.sh
      - run:
          name: "Zip folder code coverage"
          command: |
            zip -r test-result.zip fastlane/reports/
      - store_test_results:
          path: fastlane/reports/unit_test
      - store_artifacts:
          path: test-result.zip
  deploy-apple:
    macos:
      xcode: 15.0.1
    steps:
      - checkout
      - restore_cache: *restore_gem_cache
      - restore_cache: *restore_pod_cache
      - run: *gem_install
      - run: *generate_resource
      - save_cache: *save_pod_cache
      - save_cache: *save_gem_cache
      - run:
          name: Create P8 API Key
          command: echo $APP_STORE_P8 | base64 --decode > AuthKey_6TF3P5J5QY.p8
      - run:
          name: Create ENV
          command: echo $ENV_CONTENT | base64 --decode > fastlane/.env.release
      - run:
          name: Deploy Testflight
          no_output_timeout: 15m
          command: scripts/project/run-upload-testflight.sh
      - store_artifacts:
          path: fastlane/build
workflows:
  build-and-test-workflow:
    jobs:
      - build-and-test
      - slack/on-hold:
          context: slack-secrets
          requires:
            - build-and-test
      - pause_workflow:
          requires:
            - build-and-test
            - slack/on-hold
          type: approval
      - deploy-apple:
          requires:
            - pause_workflow
