//
//  Staging.xcconfig
//  My Project
//

// https://help.apple.com/xcode/#/dev745c5c974

#include "./Pods/Target Support Files/Pods-MyApp/Pods-MyApp.staging.xcconfig"

PRODUCT_NAME = My App Staging
PRODUCT_BUNDLE_IDENTIFIER = com.manhpham.myapp.debug
BUNDLE_SHORT_VERSION_STRING = 1.0
BUNDLE_VERSION = 40
OTHER_SWIFT_FLAGS = -D STAGING
PROVISIONING_PROFILE_SPECIFIER = match AppStore com.manhpham.myapp.debug
