name: Run SwiftLint
on:
  pull_request:
    paths:
      - .swiftlint.yml
      - Sources/**.swift
      - SourcesTests/**.swift
jobs:
  Danger-Swift-with-SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run Danger
        uses: docker://ghcr.io/danger/danger-swift-with-swiftlint:3.15.0
        with:
          args: --failOnErrors --no-publish-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
